.logo{
    width: 1500px;
    
}
/* .marka{
    margin: 0 50px !important;
    padding: 0 !important;
} */
.head ul{
    list-style-type: none;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.s-resim{
    height: 480px !important;
}
.s-resim1{
    height: 100% !important;
}

.baslık::after{
    content: "";
    width: 250px;
    height: 2px;
    background-color: black;
    display:inline-block;
}
.footer-bosluk li{
    margin-bottom: 8px;
}

.form-control{
    background-color: #ebe0d05a;
    border-radius: 0 !important; 
}
p{
    margin: 0;
}

.slide-hiza{
    height: 70vh;
    margin-top: 50px;
}
.sepet-resim{
    max-width: 100px !important; 
    height: 80px !important;
}
.resim{
    width: 100%;
    height: 100%;
}
.price{
    height: 25px;
    align-items: center;
    display: flex;
    
}
.price-içi input{
   width: 35px;
}
.sepet{
    width: 90%;
    margin: auto;
    border: 1px solid black;
}

.sepet-başlık th{
    background-color: orange !important;
    color:white !important;
}

.sell-1 img {
    width: 250px;
    height: 400px;
}

@media (max-width:905px){
    .sell-1 img{
        width:190px !important;
        height: 350px !important;
    }
}
@media (max-width:852px){
    .sell-1 img{
        width:140px !important;
        height: 280px !important;
        margin-bottom: 95px;
    }
}
@media (max-width:528px){
    .sell-1 img{
        width:100px !important;
        height: 200px !important;
      
    }
}
 .main-box {
    display: flex;
    align-items: center;
 }